<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Calculadora</h1>
    <div class="container">
     <input id="valor1">
     <input id="valor2">
     <p id="resultado"></p>
    </div>
    <div class= "container">
      <button id="mas">+</button>
      <button id="menos">-</button>
      <button id="multiplicar">*</button>
    </div>
    <script src='/javascripts/calculator.js'></script>
  </body>
</html>
